@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"),
  url("./fonts/Ubuntu.ttf") format("truetype");
  font-weight: normal;
}

html { 
  font-size: 16px;
}

body {
  font-size: 1rem;
  margin: 0;
  font-family: Ubuntu;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
